body {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important;
  top: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: url("src/assets/images/bg-image.jpg") no-repeat center center
    fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background-position: center;
}
